<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenue sur le site web d'Eventbrite !</h1>
    <p class="lead">Le site de gestion de tous vos événements</p>
  </div>
</div>
<br>
<div class="alert alert-danger" role="alert">
  <p>Vous n'êtes pas autorisé à accéder à ce contenu.</p>

</div>

<br>
<h3>Rappel des prochains événements organisés :</h3>
<br>
<%Event.all.each_with_index do |event, index|%>

<div class="card">
  <h5 class="card-header">Evénement numéro <%= index+1 %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= event.title %></h5>
    <p class="card-text">Vous avez envie d'en savoir plus ?</p>
		<%= link_to "Cliquez ici", event_path(event.id), class:"btn btn-primary" %>
  </div>
</div>
<br>
<br>
<br>


<%end%>
