<h1>Vous êtes sur votre profil</h1>
<h3>Vos infos personnelles :</h3>
<p>Votre prénom : <%=@user.first_name%></p>
<p>Votre nom de famille : <%=@user.last_name%></p>
<p>Votre adresse e-mail : <%=@user.email%></p>
<p>Votre description : <%=@user.description%></p>
